/*Estilo para o formulário*/
form{
    margin:50px;
}

/*Estilo para as entradas de texto, email, seleção, textarea*/
input[type=text], input[type=email], select, textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: none;
}

/*Estilo para as Labels*/
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/*Estilo para o Botão Enviar*/
input[type=submit]{
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: auto;
    margin: 0;
    width: 10%;
    height: 40px;
    right: 155px;
}

/*Estilo ao passar o mouse no Botão*/
input[type=submit]:hover{
    background: #006400;
    opacity: 0.7;
}

/*Estilo para o container*/
.container{
    border-radius: 5px;
    background-color: #fff8dc;
    padding: 20px;
   
}

/*Estilo para a coluna da Label com 25% de largura*/
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

/*Estilo para a coluna com 75% largura*/
.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}
/*Estilo para limpar as linhas*/
.row:after{
    content: "";
    display: table;
    clear: both;
}

/* Responsividade para o formulário*/
@media screen and (max-width: 700px){
    .col-25, .col-75{
        width: 100%;
        margin-top: 0;
    }

    input[type=submit]{
        bottom: auto;
        margin: 0;
        width: 25%;
        height: 40px;
        right: 110px;
    }
}